In [1]:
print('nikhil')

nikhil

In [5]:
import pandas as pd
df = pd.read_csv('Documents/EV Stats-1.csv')
df

,Sl. No,State,Two Wheelers (Category L1 & L2 as per Central Motor Vehicles Rules,Two Wheelers (Category L2 (CMVR)),Two Wheelers (Max power not exceeding 250 Watts),Three Wheelers (Category L5 slow speed as per CMVR),Three Wheelers (Category L5 as per CMVR),Passenger Cars (Category M1 as per CMVR),Buses,Total in state
0,1,Andhra Pradesh,431,692,4689,0,0,3680,0,9492
1,2,Assam,463,138,1006,0,117,151,0,1875
2,3,Bihar,252,430,2148,6,64,271,0,3171
3,4,Chhattisgarh,613,382,2078,58,106,997,0,4234
4,5,Delhi,1395,251,5018,0,1,12695,21,19381
5,6,Goa,0,0,0,0,0,513,1,514
6,7,Gujarat,7182,217,8476,0,4,15388,0,31267
7,8,Haryana,3162,1504,13908,113,24,4878,0,23589
8,9,Himachal Pradesh,0,0,0,0,0,98,0,98
9,10,Jammu & Kashmir,2,76,152,0,0,208,0,438
10,11,Jharkhand,75,228,736,9,7,655,0,1710
11,12,Karnataka,784,1104,3252,2,0,8242,2,13386
12,13,Kerala,432,78,4961,1,0,5729,1,11202
13,14,Madhya Pradesh,503,378,2904,8,106,2562,0,6461
14,15,Maharashtra,2630,2097,10146,6,3,19129,2,34013
15,16,Manipur,16,8,11,0,5,12,0,52
16,17,Meghalaya,0,0,0,0,0,6,0,6
17,18,Nagaland,0,20,3,0,0,1,0,24
18,19,Odisha,377,824,2031,0,37,594,0,3863
19,20,Punjab,698,300,1968,0,5,3567,0,6538
20,21,Rajasthan,2036,1153,8375,19,64,4116,0,15763
21,22,Tamil Nadu,491,863,8260,0,0,7132,0,16746
22,23,Telangana,535,711,2256,2,0,5530,0,9034
23,24,Tripura,28,9,36,0,0,8,0,81
24,25,Uttar Pradesh,2954,2355,15199,117,139,5445,0,26209
25,26,Uttarkhand,423,168,3239,45,38,265,0,4178
26,27,West Bengal,1451,65,10781,3,0,1840,0,14140
27,28,Andaman & Nicobar islands,0,0,0,0,0,82,0,82
28,29,Chandigarh,612,18,896,0,0,974,0,2500
29,30,Dadra and Nagar Haveli,4,0,9,0,0,803,0,816

In [8]:
import pandas as pd
student_data ={
    'names':['nikhil','suhas'],
    'usn':[127,60]
}
df = pd.DataFrame(student_data)
df

    names  usn
0  nikhil  127
1   suhas   60